extends pagesLayout
block content
//-
    div(class="flex-child-element1")
        div(class="choop")
        if tripDetails.img_path != null
            img(class="dog2", src="/images/uploads/"+tripDetails.img_path, alt="dog_img")
    div(class="flex-child-element2")
        div(class="row1")
            text Date: 
            uns #{tripDetails.trip_date}
            text Hours: 
            uns #{tripDetails.start_hour} - #{tripDetails.end_hour}
            text Dog Name: 
            uns #{tripDetails.dog_name}
        div(class="rows")
            text Trip Price: 
            uns #{tripDetails.price}
            text Owner Name: 
            uns #{tripDetails.owner_name}
            text Phone:  
            uns #{tripDetails.owner_phone}
        div(class="rows")
            text Address: 
            uns #{tripDetails.address}
        div(class="rows")
            text Description: 
            uns #{tripDetails.description}

        div(class="choose")
            button(type="button")
                img(class="button" src="/images/Extras/canceltrip.png", onmousemove="this.src='/images/Extras/cancelpres.png'", onmouseleave="this.src='/images/Extras/canceltrip.png'")

-//
     div(class="table-trips")  
        table(cellspacing="20")
            tr 
                th(width="150") Dog Details
                th Trip Details
                th Owner Details
                th(width="230") Description
                th
                th
            each t in trips
                tr 
                    td
                        text Name: 
                        uns #{t.dog_name}
                        br
                        if t.img_path != null
                            img(class="dog2", src="/images/uploads/"+t.img_path)
                    td 
                        text Date: 
                        uns #{t.trip_date}
                        br
                        text Hours: 
                        uns #{t.start_time} - #{t.end_time}
                        br
                        text Price: 
                        uns #{t.price} $
                    td 
                        text Name: 
                        uns #{t.owner_name}
                        br
                        text Phone: 
                        uns #{t.owner_phone}
                        br
                        text Address: 
                        uns #{t.address}
                    td= t.description

                    td 
                        a(href="")
                            img(class="button" src="/images/Extras/canceltrip.png", onmousemove="this.src='/images/Extras/cancelpres.png'", onmouseleave="this.src='/images/Extras/canceltrip.png'")        

